@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');

.htmlTableContainer table {
    padding-top: 20px;
    width: 100%;
    border-collapse: collapse;
    /* height: 200px; */
}


/* Style for table headers */
.htmlTableContainer th {
    background-color: #161F27;
    padding: 5px !important;
    text-align: center;
    border: 1px solid #686C71;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

/* Style for table cells */
.htmlTableContainer td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}


/* Style for alternate rows */
.htmlTableContainer tbody tr:nth-child(odd) {
    background-color: #C8E6C9 ;
}

/* Style for the header row */
.htmlTableContainer thead tr {
    background-color: #EEF8EE;
    color: white;
    font-size: medium;
}