@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');


[data-testid="block-container"]{
    background-color: #F3F3F3;
}
.htmlTableContainer {
    overflow-y: scroll;
    max-height: 30vh;
    border: solid 1px rgba(49, 51, 63, 0.2);
    overflow: auto;
    margin-bottom: 20px;

}
.htmlTableContainer table {
    padding-top: 20px;
    width: 100%;
    border-collapse: collapse;
}   

.htmlTableContainer th {
    background-color: #161F27;
    padding: 5px !important;
    text-align: center;
    border: 1px solid #686C71;
    font-weight: normal !important;
    font-family: 'Poppins', sans-serif !important;
}
.htmlTableContainer td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.htmlTableContainer thead tr {
    background-color: #ffffff;
    color: white;
    font-size: medium;
}
h3{
    padding: 0px;
}

.htmlTableContainer tbody  tr:nth-child(odd) {
    background-color: #C8E6C9 !important;
}
.htmlTableContainer tbody  tr:nth-child(even) {
    background-color: #ffffff !important;
}


.st-emotion-cache-vgae1q{
    margin-bottom: -11px;

}

.st-emotion-cache-5rimss {
    font-family: "Source Sans Pro", sans-serif;}
#client-landscape{
    color: #002060;
}

#estimation {
    color: #002060;
    margin-bottom: -33px;
}
