section.main > div.block-container > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(1) > div > div > div > div{
    margin-bottom: 0rem;
}

/* text input for dest path */
div.stTextInput > div > div > input {
    background-color: white;
}

div.stTextInput > div:nth-child(2){
    border: solid 1px black;
    border-radius: 20px;
}

section.main > div.block-container > div:nth-child(1) > div > div:nth-child(8){
    margin: 1rem 0;
}