#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.e1g8pov65 > div.block-container.css-z5fcl4.e1g8pov64 > div:nth-child(1) > div > div:nth-child(4) > div.css-fplge5.esravye1 > div:nth-child(1) > div > div{    background-color: #FFFFFF;
    background-color: #FFFFFF;
    border: solid 1px;
    border-radius: 10px;
}

div.stTextInput > div:nth-child(2) {
    border: solid 1px black;
    border-radius: 20px;
}

/* hide open sidebar button */
#root > div:nth-child(1) > div.withScreencast > div > div > div > div{
    display: none;
}